<p id="notice"><%= notice %></p>

<h1>
  <%= @story_thread.name %>
</h1>

<p id="stori">
<% @story_thread.story_posts.each do |story_post| %>
  <%= "#{story_post.text} " %>
<% end %>
</p>

<%= link_to "Back to main page", root_path %>